[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pre-commit = "*"
black = "==19.3b0"

[packages]
scrapy="==1.8"
pymysql = "*"
alembic = "*"
pugsql = "*"
python-dotenv = "*"
selenium = "*"
xvfbwrapper = "*"
flask = "*"
flask-restful = "*"
url-normalize = "*"
werkzeug = "*"
requests = "*"
tabulate = "*"
gunicorn = "*"
flask-jwt-extended = "*"
pyjwt = "*"
s3cmd = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
