[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pre-commit = "*"

[packages]
scrapy = "*"
pymysql = "*"
alembic = "*"
pugsql = "*"
python-dotenv = "*"
lxml = "==4.4.1"

[requires]
python_version = "3.7"
