[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pysqlite3 = "*"

[packages]
scrapy = "*"
pymysql = "*"
alembic = "*"
pugsql = "*"

[requires]
python_version = "3.6"
